<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="tfxname" >Nombre y apellido:</label>
        <input type="tfxtext" name="name">

        <label for="tfxuser" >Usuario:</label>
        <input type="tfxtext" name="usuario">

        <label for="tfxemail" >Email:</label>
        <input type="tfxtext" name="email">


    <button>Volver</button>
    </form>
</body>
</html>