main div.register-form,
main div.login-form {
    background-color: #ebebeb;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main div.register-form div.control-form,
main div.login-form div.control-form {
    margin-bottom: 15px;
}

main div.register-form div.control-form label,
main div.login-form div.login-form label {
    margin-bottom: 5px;
    display: block;
}

.control {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 10px;
}

.label-class {
    font-weight: bold;
}

.user-class {
    font-weight: 400;
    margin-left: 10px;
}

.radio-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.control-radio {
    display: flex;
    flex-direction: row-reverse;
}

.button-form {
    width: 100%;
    border: none;
    color: #fff;
    background-color: #1259c3;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 3px;
    transition: all 0.3s ease;
}

.button-form:hover {
    color: #fff;
    background-color: #0022AA;
}

.button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-content:hover {
    color: #0022AA;
}

.button-content-child {
    width: 100%;

}

footer {
    background-color: #ffffff;
}

footer div.footer-section {
    text-align: center;
    color: #666;
    padding: 20px;
    margin-bottom: 10px;
}

footer div.footer-section h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}

footer div.footer-section p {
    margin-top: 0px;
}

footer div.footer-section i {
    font-size: 2em;
    color: #0044aa;
    margin-bottom: 10px
}

footer .Copyright {
    color: #666;
}

footer div.footer-section p {
    font-size: 12px;
}

footer .footer div.footer-section i:hover{
    color: #EAC926;
}

@media (min-width: 769px) {

    main div.register-form,
    main div.login-form {
        width: 80%;
    }

    footer .footer {
        display: flex;
    }

    footer div.footer div.footer-section {
        width: 33%;
    }

    .Copyright {
        width: 75%;
        color: #666;
        font-size: 10px;
    }
}